<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>893599261296-llpbla9769qdlc8mne4q1a6648vjb71e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893599261296-llpbla9769qdlc8mne4q1a6648vjb71e</string>
	<key>API_KEY</key>
	<string>AIzaSyDYLGA2JCT7D9xxc5A4AEPEsUKIfl3dqt8</string>
	<key>GCM_SENDER_ID</key>
	<string>893599261296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.PokeFinderApp</string>
	<key>PROJECT_ID</key>
	<string>pokefinder-cc2d0</string>
	<key>STORAGE_BUCKET</key>
	<string>pokefinder-cc2d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:893599261296:ios:cd19f2becee6ac51</string>
	<key>DATABASE_URL</key>
	<string>https://pokefinder-cc2d0.firebaseio.com</string>
</dict>
</plist>